@use '../../styles/vars';

.create-annonce {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.button-ad {
    color: vars.$dark-color;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 0.5) ;
    padding: 0.5rem;
    min-width: 8rem;
    border-radius: 5rem;
    box-shadow: 0.3rem 0.3rem 1rem vars.$dark-color;
    font-weight: 400;
    font-size: 1rem;
    transition:all .5s ease-in-out;
}

//responsive small screen
@media screen and (max-width: 768px){
    .create-annonce {
        
        & .button-ad {
            position: fixed;
            bottom: 1rem;
            color: vars.$dark-color;
            font-family: 'Montserrat', sans-serif;
            background-color: rgb(255, 255, 255) ;
            padding: 0.5rem;
            min-width: 8rem;
            border-radius: 5rem;
            box-shadow: 0.3rem 0.3rem 1rem vars.$dark-color;
            font-weight: 400;
            font-size: 1rem;
            transition:all .5s ease-in-out;

        }
    }
}
