@use '../../styles/vars';

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem vars.$dark-color;
    margin-top: 2rem;

    &__radios input{
        box-shadow: none;
        accent-color: vars.$dark-color;
        width: 2rem;
    }

    &__radios {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        

        &__input {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 8rem;
            text-align: center;

            & h3 {
                font-size: 1.5rem;
                margin-top: 1rem;
            }
        }
    }

    
}

@media screen and (max-width: 768px){



    .signup-form__type {
        width: 150px;
        transform: scale(0.8);
    }
}